      @font-face {
          font-family: 'DIN-Regular';
          src: url('./DINPro-Regular.otf') format('opentype');
      }

      @font-face {
          font-family: 'DIN-Regular';
          src: url('./DINPro-Bold.otf') format('opentype');
          font-weight: bold;
      }