// @import './reset.scss';


body {
    font-family: DIN-Regular, PingFang SC, Helvetica, Arial, sans-serif;
    outline: none;
    margin: 0;
    font-size: 18px;
    height: 100%;
    // overflow: hidden;
    background: #fafafa;
    -webkit-font-smoothing: subpixel-antialiased;
}